@model SkillPull.Models.Skills

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Skills</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dificuldade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dificuldade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tempo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tempo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkillsFK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkillsFK)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubscricaoFK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubscricaoFK)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SkillsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
